html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

/* ***********REUSABLE STYLES************ */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/* **********MODAL STYLES********** */
.modal_main {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal_body {
    position: relative;
    width: 400px;
    top: 50%;
    left: 50%;
    background: #eee;
    border-radius: 5%;
    transform: translate(-50%, -50%);
}

.modal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.7rem;
    border-bottom: 1px solid #444;
}

.modal_close {
    font-weight: bold;
    font-size: 2rem;
}

.modal_stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #444;
}

.modal_buttons {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem 2.5rem;
    
}

.modal_button {
    width: 60px;
    height: 30px;
    border-radius: 15%;
    outline: 0 none;
    border: 3px solid transparent;
    background-color: #36ec91;
  
}

.hide {
    display: none;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d83;
    font-size: 0;  /*this shows nothing on the page*/
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(-180deg);
    background: #02b3e4;
    cursor: default;
    transform: scale(.90);
    transition: transform .5s;
}

.deck .card.show {
    font-size: 30px;
    transform: rotateY(180deg);
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
    color: #ffb400;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
    color: #02ccba;
    font-size: 1.5rem;
}

.restart:hover {
    transform: rotate(90deg);
}

/* ***************MEDIA QUERIES******************* */
@media screen and (max-width: 536px) {
    .deck {
        width: 400px;
        min-height: 420px;
        padding: 5px;
    }

    .score-panel {
        width: 280px;
        font-size: larger;
    }

    .deck .card {
        height: 80px;
        width: 80px;
    }
}

